<div *ngIf="report?.makelaarTables; else noReport">
  <div *ngFor="let table of report.makelaarTables">
    <h3>{{table.query}}</h3>
    <table>
      <thead>
        <tr>
          <th>Makelaar Name</th>
          <th>Makelaar Id</th>
          <th>Number of Properties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of table.rows">
          <td>{{row.makelaarNaam}}</td>
          <td>{{row.makelaarId}}</td>
          <td>{{row.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #noReport>
  <h1 *ngIf="!failed">Fetching report...</h1>
  <h1 *ngIf="failed">Fetching report failed</h1>
</ng-template>